@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors: */
  --yellow: #ffd700;
  --blue: #1672f2;
  --black-3: #201f25;
  --black-2: #171721;
  --orange: #f4812e;
  --black-1: #1a0e60;
  --green: #00e08e;
  --red: #d02c75;
  --light-gray: #93979e;
  --dark-gray: #707070;
  --black: #18191a;
}
